.box-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 36px 15px;
    padding-top: 50px;
    overflow-y: auto;
    position: relative;
}

.box-home .card {
    display: flex;
    flex-direction: column;
    /* flex: 1; */
    width: 100%;
    border: 0;
    border-radius: 4px;
    margin-top: 25px;
    background: transparent;
}

.box-home .card .card-header {
    background: #7b287d;
    padding: 15px 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-home .card .card-header img {
    width: 28px;
    border-radius: 50%;
    margin-right: 10px;
}

.box-home .card .card-header h3 {
    color: #f9f9f9;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.box-home .card .card-body {
    background: #f9f9f9;
    padding: 15px 10px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 0;
}

.box-home .card .card-body h4 {
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    color: #7b287d;
}

.box-home .card .card-body ul.combustiveis {
    list-style: none;
    margin: 0;
    margin: 15px 0;
}

.box-home .card .card-body ul.combustiveis li {
    display: flex;
    justify-content: space-between;
}

.box-home .card .card-body ul.combustiveis li + li {
    padding-top: 5px;
}

.box-home .card .card-body ul.combustiveis li span {
    font-size: 13px;
    font-weight: bold;
    color: #7b287d;
}

.box-home .card .card-body ul.combustiveis li span + span {
    margin-left: 10px;
}

.box-home .card .card-body .links a {
    color: #7b287d;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border: 1px solid #7b287d;
    border-radius: 4px;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
}

.box-home .card .card-body .links a:hover {
    background: #7b287d;
    color: #f9f9f9;
    transition: 0.3s;
}
