.box-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 36px 15px;
    padding-top: 50px;
    position: relative;
}

.box-home div.postos {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
    width: 100%;
    margin-top: 15px;
}

.box-home div.posto {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    background: #f9f9f9;
    color: #7b287d;
    padding: 10px;
    border-radius: 4px;
}

.box-home div.posto .bandeira {
    margin-right: 15px;
}

.box-home div.posto .bandeira img {
    width: 28px;
    height: auto;
    object-fit: contain;
    border-radius: 50%;
}

.box-home div.posto h3 {
    font-size: 16px;
    font-weight: bold;
}

.box-home div.posto .endereco {
    display: flex;
    justify-content: center;
}

.box-home div.posto .endereco span {
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}

.box-home div.posto .endereco span + span {
    margin-left: 10px;
}

.box-home div.posto ul.combustiveis {
    list-style: none;
    margin: 20px 0;
}

.box-home div.posto ul.combustiveis li {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 0;
}

.box-home div.posto ul.combustiveis li span {
    max-width: 80%;
}

.box-home div.posto .linha {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.box-home div.posto .links a {
    color: #7b287d;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border: 1px solid #7b287d;
    border-radius: 4px;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
}

.box-home div.posto .links a:hover {
    background: #7b287d;
    color: #f9f9f9;
    transition: 0.3s;
}
