.box-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 36px 15px;
    position: relative;
}

div.postos {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
    width: 100%;
}

div.posto {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    background: #f9f9f9;
    color: #7b287d;
    padding: 10px;
    border-radius: 4px;
}

div.posto .bandeira img {
    width: 32px;
    height: auto;
    object-fit: contain;
    border-radius: 50%;
}

div.posto h3 {
    font-size: 16px;
    font-weight: bold;
}

div.posto .endereco {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

div.posto .endereco span {
    font-size: 14px;
    text-align: center;
    max-width: 70%;
}

div.posto .endereco span + span {
    margin-left: 10px;
}

div.posto ul.combustiveis {
    list-style: none;
    margin: 0;
}

div.posto ul.combustiveis li {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

div.posto ul.combustiveis li + li {
    margin-top: 5px;
}

div.posto .linha {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

div.posto .linha span {
    width: 25px;
    height: 25px;
    background: #7b287d;
    color: #f9f9f9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
