@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  font-family: "Oxygen", sans-serif;
  background: linear-gradient(135deg, #330c2f, #7067cf);
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 36px 15px;
  height: 100vh;
  position: relative;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0px;
}

form input {
  background: transparent;
  border: 1px solid #b7c0ee;
  border-radius: 4px;
  margin-bottom: 15px;
  height: 40px;
  padding: 10px;
  color: #b7c0ee;
  font-size: 16px;
}

form input::placeholder {
  color: #b7c0ee;
}

form button {
  height: 40px;
  padding: 10px;
  border-radius: 4px;
  outline: 0;
  background: transparent;
  border: 1px solid #b7c0ee;
  color: #b7c0ee;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}

form button:hover {
  background: #b7c0ee;
  color: #7067cf;
  transition: 0.3s;
}

form a {
  height: 40px;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  color: #b7c0ee;
  font-weight: bold;
}

form a:hover {
  color: #b7c0eedd;
  transition: 0.3s;
}

form button,
form a {
  cursor: pointer;
}

/******************************
  Paleta de Cores

  Principal: #330c2f
  Secundária: #7b287d
  Cor de Texto: #7067cf
  Background Buttons: #b7c0ee
  Outra opção: #cbf3d2

******************************/
