.box-posto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 15px;
    padding-top: 65px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.box-posto svg.arrow-goback {
    position: fixed;
    top: 65px;
    left: 15px;
    cursor: pointer;
}

.box-posto .card {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 0;
    border-radius: 4px;
    margin-top: 35px;
    background: transparent;
}

.box-posto .card .card-header {
    background: #7b287d;
    padding: 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-posto .card .card-header img {
    width: 32px;
    border-radius: 50%;
    margin-right: 10px;
}

.box-posto .card .card-header h3 {
    color: #f9f9f9;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.box-posto .card .card-body {
    background: #f9f9f9;
    padding: 10px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 0;
}

.box-posto .card .card-body h4 {
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    color: #7b287d;
    margin-bottom: 10px;
}

.box-posto .card .card-body ul.combustiveis {
    list-style: none;
    margin: 0;
    margin: 10px 0;
}

.box-posto .card .card-body ul.combustiveis li {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    font-weight: bold;
}

.box-posto .card .card-body ul.combustiveis li + li {
    padding-top: 5px;
}

.box-posto .card .card-body ul.combustiveis li span {
    font-size: 13px;
    font-weight: bold;
    color: #7b287d;
}

.box-posto .card .card-body ul.combustiveis li span + span {
    margin-left: 10px;
}

.box-posto .card .card-body h5 {
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    color: #7b287d;
    margin-bottom: 5px;
}

.box-posto .card .card-body .acoes {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.box-posto .card .card-body a {
    display: flex;
    align-items: center;
    padding: 5px;
    height: 24px;
    outline: 0;
    border: 0;
    border-radius: 4px;
    color: #f9f9f9;
    background: #7067cf;
    text-decoration: none;
}

.box-posto .card .card-body a:hover {
    background: #7067cfee;
    transition: 0.3s;
}

.box-posto .card .card-body a span {
    font-size: 13px;
    font-weight: bold;
    margin-left: 5px;
}

#compartilhar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#compartilhar span {
    font-size: 13px;
    font-weight: bold;
    color: #7b287d;
}

#compartilhar ul.media-share {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    margin-top: 5px;
}

#compartilhar ul.media-share li + li {
    margin-left: 10px;
}

#compartilhar ul.media-share li {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #7067cf;
    color: #f9f9f9;
    border-radius: 4px;
    width: 24px;
    height: 24px;
}

#compartilhar ul.media-share li:hover {
    background: #7067cfee;
    transition: 0.3s;
}

#compartilhar ul.media-share li button.react-share__ShareButton {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 0;
}

#compartilhar ul.media-share li button.react-share__ShareButton svg {
    padding: 4px;
    width: 24px;
    height: 24px;
}
